@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: black;
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
}

button > span {
  font-size: 1.3rem;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu > img {
  width: 350px;
  height: 350px;
}